*{
    padding: 0;
    margin: 0;
    outline: 0;
}
#header{
    height: 570px;
    width: 1200px;
    background-color: aliceblue;
    background-repeat: no-repeat;
    margin: auto;
}
.color{
    color: salmon;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.header-description{
    width: 550px;
    float: left;
    
}
.header-deteils{
    height: 300px;
    width: 400px;
    margin: 50px;
}
.header-deteils h1{
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.header-deteils h2{
    font-size: 26px;
}
.header-deteils p{
    margin-top: 10px;
    font-size: 20px;
}
.header-img{
    width: 550px;
    float: left;
    padding: 60px 0px 20px 60px;
}
.header-img img{
    width: 400px;
    height: 400px;
}


#midel{
    background-image: url(../images//biography-bg.png);
    height: 500px;
    width: 1200px;
    margin: auto;
}

.midel-img{
    width: 500px;
    height: 500px;
    float: left;
}
.midel-img img{
    height: 450px;
    padding: 30px;
}
.midel-info{
    height: 500px;
    width: 500px;
    float: left;
    padding-left: 80px;
    padding-top: 80px;
}
.midel-info h1{
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 50px;
}
.midel-info p{
    font-size: 20px;
}